{% extends 'BASE/base.html' %}
{% load static %}
{% block title %} Shop {% endblock %}
{% block content %}
<section class="shop spad">
    <div class="container">
        <div class="shop__option">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="shop__option__search">
                        <form action="#">
                            <select>
                                <option value="">Categories</option>
                                <option value="">Red Velvet</option>
                                <option value="">Cup Cake</option>
                                <option value="">Biscuit</option>
                            </select>
                            <input type="text" placeholder="Search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="shop__option__right">
                        <select>
                            <option value="">Default sorting</option>
                            <option value="">A to Z</option>
                            <option value="">1 - 8</option>
                            <option value="">Name</option>
                        </select>
                        <a href="#"><i class="fa fa-list"></i></a>
                        <a href="#"><i class="fa fa-reorder"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for item in products %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static item.url %}">
                        <div class="product__label">
                            <span>{{ item.category }}</span>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">{{ item.name }}</a></h6>
                        <div class="product__item__price">${{ item.price }}</div>
                        <div class="cart_add">
                            <a href="#" class="add-to-cart-btn" data-product-id = "{{ item.id }}">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="shop__last__option">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="shop__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><span class="arrow_carrot-right"></span></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="shop__last__text">
                        <p>Showing 1-9 of 10 results</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    /*-------------------
		Add to cart
	--------------------- */
    $(document).ready(function() {
        $('.add-to-cart-btn').on('click', function() {
            // debugger;
            // Get product id 
            var productId = $(this).data('product-id');
            // Get the CSRF token from the cookie
            var csrftoken = document.cookie.match(/csrftoken=([^ ;]+)/)[1];
            
            $.ajax({
                type: 'POST',
                url: '{% url "sweetCocoWeb:add_product" pk=0 %}'.replace('0', productId),
                dataType: 'json',
                beforeSend: function(xhr, settings) {
                    // Include the CSRF token in the request headers
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function(data) {
                    // debugger;
                    const Toast = Swal.mixin({
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timer: 1500,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.onmouseenter = Swal.stopTimer;
                            toast.onmouseleave = Swal.resumeTimer;
                        }
                    });
                    var errorCode = data.errorcode;
                    if(errorCode === 1){
                        Toast.fire({
                            icon: "error",
                            title: data.message
                        });
                    }
                    else{
                        Toast.fire({
                            icon: "success",
                            title: data.message
                        });
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>    
{% endblock %}