{% load static %}
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header__top__inner">
                        <div class="header__top__left">
                            <ul>
                                <li>USD <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li>EUR</li>
                                        <li>USD</li>
                                    </ul>
                                </li>
                                <li>ENG <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li>Spanish</li>
                                        <li>ENG</li>
                                    </ul>
                                </li>
                                {% if not user.is_authenticated %}
                                <li><a href="#" class="openModalBtn">Sign in</a> <span class="arrow_carrot-down"></span></li>
                                {% endif %}
                                <li><a href="#" class="signOut">Sign out</a> <span class="arrow_carrot-down"></span></li>
                            </ul>
                        </div>
                        <div class="header__logo">
                            <a href="{% url 'sweetCocoWeb:home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                        </div>
                        <div class="header__top__right">
                            <div class="header__top__right__links">
                                {% if user.is_authenticated %}
                                <span>Welcome, {{ user.username }}</span>
                                {% endif %}
                                <a href="#"><img src="{% static 'img/icon/heart.png' %}" alt=""></a>
                            </div>
                            <div class="header__top__right__cart">
                                <a href="{% url 'sweetCocoWeb:cart' %}"><img src="{% static 'img/icon/cart.png' %}" alt=""> <span>0</span></a>
                                <!-- <div class="cart__price">Cart: <span>$0.00</span></div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="{% url 'sweetCocoWeb:home' %}">Home</a></li>
                        <li><a href="{% url 'sweetCocoWeb:shop' %}">Shop</a></li>
                        <li><a href="{% url 'sweetCocoWeb:cart' %}">Shopping Cart</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->